{% extends 'myblog/base.html' %}

{% block content %}
    <div flex-item="6">
        <span class="fs-title display-block mb">Few facts about myself</span>

        <div class="divider divider--dark"></div>

        <ul class="list mt++">
            <li class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <i class="icon icon--s icon--grey icon--flat mdi mdi-information"></i>
                </div>

                <div class="list-row__content">
                    <span>Web-programmer with 4 years experiense (23 y.o.)</span>
                </div>
            </li>
            <li class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <i class="icon icon--s icon--grey icon--flat mdi mdi-information"></i>
                </div>

                <div class="list-row__content">
                    <span>Russian-born, Belorus moved</span>
                </div>
            </li>
            <li class="list-row list-row--has-separator">
                <div class="list-row__primary">
                    <i class="icon icon--s icon--grey icon--flat mdi mdi-information"></i>
                </div>

                <div class="list-row__content">
                    <span>Something else..</span>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}