{% extends 'myblog/base.html' %}
{% load staticfiles %}
{% block content %}
    <div flex-container="row" flex-gutter="24">
        <div flex-item="12">
            <ul class="list mt++">
                <li class="list-row list-row--has-separator">
                    <div class="list-row__secondary">
                        <i class="icon icon--s icon--grey icon--flat mdi mdi-file-pdf"></i>
                    </div>

                    <div class="list-row__content">
                        <span><a href="{% static 'myblog/files/resume.pdf' %}">Resume</a></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div flex-container="row" flex-gutter="24">
        <div flex-item="4">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">Programming languages</strong>
                    <span class="fs-subhead tc-black-2 display-block">In order of knowledges</span>
                    <div class="paragraph fs-body-1">
                        <p>
                            Python, PHP, Javascript, Java, C++
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div flex-item="4">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">Database Engines</strong>
                    <span class="fs-subhead tc-black-2 display-block">In order of knowledges</span>
                    <div class="paragraph fs-body-1">
                        <p>
                            PostgreSQL, MySQL, MongoDB
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div flex-item="4">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">Frameworks</strong>
                    <span class="fs-subhead tc-black-2 display-block">In order of knowledges</span>
                    <div class="paragraph fs-body-1">
                        <p>
                            <strong>PHP: </strong>Zend Framework(1, 2), Phalcon, CodeIgniter, Yii(1, 2)<br />
                            <strong>Python: </strong> Django, Flask<br />
                            <strong>Javascript: </strong> jQuery (UI, Mobile), AngularJS
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" class="mt++">
        <div flex-item="4">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">VCS</strong>
                    <span class="fs-subhead tc-black-2 display-block">In order of knowledges</span>
                    <div class="paragraph fs-body-1">
                        <p>
                            Git, Subversion, TFS
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div flex-item="4">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">CMS</strong>
                    <span class="fs-subhead tc-black-2 display-block">In order of knowledges</span>
                    <div class="paragraph fs-body-1">
                        <p>
                            <strong>PHP:</strong> Bitrix, Wordpress, Joomla
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div flex-item="4">
            <div class="card">
                <div class="p+">
                    <strong class="fs-headline display-block">etc</strong>
                    <span class="fs-subhead tc-black-2 display-block">In order of knowledges</span>
                    <div class="paragraph fs-body-1">
                        <p>
                            HTML5, CSS3, Gearman, Sphinx, Elasticsearch, Selenium, Design Patterns,
                            Memcache, Redis, NodeJs, Smarty, Volt
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}