@import "http://webfonts.ru/import/ptmono.css";

html, body {
    font-family: 'PT Mono';
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 > a {
    text-decoration: none;
    color: #f8f8f8;
}